git+https://github.com/Aarif123456/tweetGenerator#egg=tweetGenerator
git+https://github.com/AshrafTaifour/Private-Facebook-Scraper#egg=FacebookChatPhisher
git+https://github.com/Aarif123456/FacebookPost#egg=FacebookPost